h1.vidName {
  float:left;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 170%;
  font-weight: bold;
  color: black;
}

hr#playlistVideosDivider {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #5A68A6;
}

.playlist_video_delete_glyph {
  padding-right: 1em;
  padding-top: 0.6em;
  float: right;
  margin-top: .5em;
  font-size: 2em;
  margin-left: 2em;
  cursor: pointer;
}

.playlist_video_delete_glyph:hover {
  color: red;
}

div.playlist_video_box {
  margin-top: 4em;
}

div.playlist_video_info {
  font-size: 60%;
  padding-left: 2em;
  background-color: white;
  width: 100%;
  height: 7em;
  border: 1px solid black;
  border-top: none;
  background-color: #EDF5FF;
  box-shadow: 5px 20px 45px rgba(0,0,0,.45);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  h1.vidName{
    font-size: 1.2em;
  }
}
