h1#vidName {
  float:left;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 170%;
  font-weight: bold;
  color: black;
}

.playlist_video_delete_glyph {
  float: right;
  margin-top: .5em;
  font-size: 2em;
  margin-left: 2em;
  cursor: pointer;
}

.playlist_video_delete_glyph:hover {
  color: red;
}

div.playlist_video_box {
  margin-top: 4em;
}
