h1#vidName {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 170%;
  font-weight: bold;
  color: black;
}

.playlist_delete_glyph {
  font-size: 130%;
  float:right;
}

#playlist_videos_container {
  margin-top: 4em;
  width: 33%
}

.video_box {
  width: 45em;
}
