
#errors {
  width: 100%;
  top: 55px;
  background: #ff0044;
  color: #eee;
  margin-bottom: 0;
}

.errors_notification {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  color: red;
  weight: bold;
  padding: 1em;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border: #220000 1px solid;
  background-color: #F8F8F8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
