.label {
  color: black
}

h1#signup_header {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  font-size: 150%;
  color: white;
  text-shadow: 0 0 0.3em black, 0 0 0.2em black
}


#signup_box {
    margin-top: 4em;
    padding-top: 2em;
    padding-left: 5em;
    padding-bottom: 3em;
    padding-right: 5em;
    background-color: #BBD2FA;
    box-shadow: 0px 20px 40px rgba(0,0,0,.65);
    background-color: #BBD2FA;
}

.reg_errors {
  font-weight: bold;
}

hr#blue_hr {
  border: none;
  height: 2px;
  background-color: #6295FA;
}

.signup-button {
  font-weight: bold;
  margin-top: 1em;
}

.already_reg {
  font-weight: bold;
  font-size: 1.0em;
}
