#video_container {
  text-align: center;
  padding: 1em
}

.add_to_playlist_container {
      padding-top: 1em;
      padding-bottom: 1em;
      margin-left: 1em;
      margin-top: 1em;
      margin-bottom: 2em;
      margin-right: 2em;
      background-color: #77AAD5;
      border: #cdcdcd medium solid;
}

.add_button {
  padding-top: 2em;
  padding-bottom: 2em;
}

hr {
  width:90%;
 border: 1px solid white;
}
