.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  overflow: hidden; }

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 1000px; }

.menu-leave {
  max-height: 1000px;
  -webkit-transition: max-height 1s ease; }

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px; }

#dropdown {
  list-style-type: none;
  text-align: left;
  color: white;
  font-size: 105%;
  font-weight: bold;
  margin-left: 1em;
  padding-top: 1.4em;
  width: 70%;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black;
}

hr#menu_divider {
   width: 100%;
   border: .2px solid rgba(0, 0, 0, .2);
}

#plus {
  color: #DEE9FE;
  cursor: pointer;
}

#plus:hover {
  color: #23A5BB;
}

#checked {
  font-size: 120%;
}

#checked:hover {
  color: red;
  cursor: pointer;
}

#wanna_add {
  cursor: pointer;
  font-size: 1.3em;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 0.4em black, 0 0 0.4em black;
}

#wanna_add:hover {
    color: #CBE1FD;
}
