#dropdown_ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: black;
  font-size: 105%;
  margin-top: 1.3em;
  width: 100%;
}


div#menu {
  text-align: center
}

#add_this_video_to_a_playlist {
  cursor: pointer;
  font-size: 1.1em;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  color: black;
}

#add_this_video_to_a_playlist:hover {
  color: #2B71C4
}

li.dropdown_li {
  cursor: pointer;
  border-top: 1px solid black;
  margin-bottom: 0.4em;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  border-top: 1px solid rgba(0,0,0,.2);
}

span.li_text {
  margin-left: 0.2em;
}

span.li_text:hover {
  color: #2B71C4
}

div.add_to_playlist_container.col-md-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.8em;
}

hr.menu-item-divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: black;
}
/*=====================================MENU ANIMATIONS*/

.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  overflow: hidden; }

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 1000px; }

.menu-leave {
  max-height: 1000px;
  -webkit-transition: max-height .25s ease;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
}

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px; }


/*=======================================GLYPHICON STYLING*/

.add_to_playlist_glyph {
  font-size: 110%;
  color: rgba(0,0,0,.7);
}

.add_to_playlist_glyph:hover {
  color: red;
  cursor: pointer;
}

#plus {
  color: #2B71C4;
  cursor: pointer;
}

/*=======================================CREATE BOX CONTAINER*/

div#create_new_text {
  cursor: pointer;
  text-align: left;
  padding-left: 1.3em;
}

span#new_pl_text {
  text-align: left;
  margin-left: 2.0em;
}

div.create_box_container {
  padding-top: 1em;
  border-top: 1px solid rgba(0,0,0,.5);
}

input.new_pl_input {
  width: 98%;
  padding: 1%;
}
