.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  overflow: hidden; }

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px; }

.menu-leave {
  max-height: 100px;
  -webkit-transition: max-height 1s ease; }

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px; }

#dropdown {
  border: #ababab solid 1px;
  width: 70%;
}
