#dash_username {
  font-size: 2em;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  color: #4FCFE2;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black;
}

h1#dashboard_h1 {
  text-align: center;
}

div.dashboard_container {
  margin-top: 2em;
  text-align: left;
  font-size: 2em;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black;
}

.dash_text {
  margin-left: 1.2em;
}

.dashboard_glyph {
  margin-top: 0.2em;
  color: #4FCFE2
}

hr#dash_hr {
  border: none;
  height: 1px;
  background-color: #4FCFE2;
}

a.dash_link {
  color: white;
  text-decoration: none;
}
