h1 {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  font-size: 150%;
  color: #45ADE9
}

#playlists_container {
    margin-top: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    background-color: #F6F6F4;
    box-shadow: 0px 20px 40px rgba(0,0,0,.5);
}

hr.playlist_divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #C1D7FE;
}

.playlist_div {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 130%;
  font-weight: bold;
  color: #45ADE9
}

.playlist_delete_glyph {
  float: right;
  cursor: pointer;
  color: #5C67A6;
}
.playlist_delete_glyph:hover {
  color: red
}
