h1 {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  font-size: 150%;
  color: #45ADE9
}

#playlists_container {
    margin-top: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.playlist_div {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 130%;
  font-weight: bold;
  color: #45ADE9
}
