
/****************BANNER STYLING*/

#banner {
  background-color: #000;
  background-image: url(banner1.jpg);
  background-position: center center, center top;
  background-size: cover;
  height: 130%
}

#home_container {
  padding-top: 4em;
}

/************************  color: #45ADE9 ************~~*/

#welcome {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black
}

#mini-tube {
  font-size: 2em;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  color: #4FCFE2;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black;
}

#new_here{
    font-weight: bold;
    opacity: 0.9;
    color: white
}

.text {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
}

#bufferCol {
  padding: 5em;
}

#signup_button {
  font-weight: bold;
  box-shadow: 3px 3px 3px black;
}
