.label {
  color: black
}

h1#login_header {
  font-family: ‘Arial Black’, Gadget, sans-serif;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 150%;
  color: white;
  text-shadow: 0 0 0.3em black, 0 0 0.2em black
}

#login_box {
    margin-top: 4em;
    padding-top: 2em;
    padding-left: 5em;
    padding-bottom: 3em;
    padding-right: 5em;
    border: #cdcdcd medium solid;
    background-color: #BBD2FA;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
